#about {
    padding: 20px;
    text-align: left;
    width: 80%;
    margin: auto;
    
    background-color:"#2a2f4c";
    color:"white"
}

#extra{
    width: 80%;
    padding: 20px;
    text-align: left;
    width: 80%;
    margin: auto;
   
    
    

}